<header id="header1"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nv nav-pills" style="list-style: none;">
                         <!--  <li>
                                <a><i class="fa fa-user"></i>Welcome Admin, {{name}}</a>
                             </li>--> 
                            <li style="padding-left:10px;"><a ><i class="fa fa-phone"></i>+216 71 95 12 48</a></li>
                            <li style="padding-left:25px;"><a href="#"><i class="fa fa-envelope"></i>    arabsoft@arabsoft.com.tn</a></li>

                        </ul>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    

    <div class="header-middle"><!--header-middle-->
      <div class="container">
          <div class="row">

           <!--   <div class="logo pull-left">
                  <a  [routerLink]="['']"><img src="assets/img/logo.JPG" alt="" style="margin-left: 0px;" width="100px"/></a>
 </div>-->  



              <div class="col-sm-3">
                  <div class="logo pull-left">
                      <a  [routerLink]="['']"><img src="assets/img/compt.JPG" alt="" style="margin-top: 20px;"/></a>
                  </div>
              </div>
      <!---->       
     
         

      <!---->      
              <div class="col-sm-9">
                  <div class="likHref icone_headerr">
                      <a href="http://www.arabsoft.com.tn/" class=" active"><i class="fa fa-home"></i> Accueil</a>
                      <a href="http://www.arabsoft.com.tn/a-propos" class=" "><i class="fa fa-align-justify"></i> A Propos</a>
                      <a href="http://www.arabsoft.com.tn/contactez-nous1" class=" "><i class="fa fa-envelope"></i> Contactez-nous</a>
                  </div>



                  <div class="shop-menu pull-right">
                      <ul>
                      
                          
                        <li>
                            <a>
                              <i class="fa fa-bell" aria-hidden="true"></i>
                              <app-msgiconbtn number="5"></app-msgiconbtn>
                            </a>
                            </li> 
                            
                          <li  (click)="logout()"><a  href="javascript:void(0)"><i class="fa fa-sign-out"></i> Logout</a></li>

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header-middle-->

<body>
  <mat-toolbar color="primary">
    
    <div class="pull-left">
      Liste Utilisateurs
    </div>
<!--<div class=" pull-right">
    <form (ngSubmit)="onChercher(f.value)" #f="ngForm" >
      <div class="form-group">
           
          <input type="text" name="keyword" ngModel>
          <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-search"></span>
              Recherche</button>
      </div>
  </form>

</div>-->




<div class="col-sm-10">
  <div class="search_box pull-right" >
  
      <div class="form-group">
      <input type="text" placeholder="Search" class="form-control" style="height: 40px;" [(ngModel)]="term">
      </div>
    
  </div>

</div>
</mat-toolbar>
  
   


   <div class="col-md-11 col-md-offset-1">
     <div class="table-responsive">
      <table class="table  table-striped table-responsive-sm table-responsive-md
     table-responsive-lg">
      <thead class="thead-orange">
      <tr>
      <th scope="col">Code</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Adresse</th>
      <th scope="col">Statut</th>
      <th class="text-center" scope="col">Détails</th>
      <th class="text-center" scope="col">Edit</th>
      <th class="text-center" scope="col">Supprimer</th>
   <!--  <th class="text-center" scope="col">Activer</th>
      <th class="text-center" scope="col">Désactiver</th>--> 
      <th>
            <a class="btn btn-outline-success" (click)="addclient()"><i class="fa fa-plus-square"></i> Ajouter</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of userService.list | filter:term  | paginate: { itemsPerPage: 6, currentPage: p } " >
    <td>{{item.code}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
      <td>{{item.telephone}}</td>
      <td>{{item.adresse}}</td>
     <td *ngIf="item.active==true"> 
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </td>
    <td *ngIf="item.active==false">
      <label class="switch">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label>
    </td>
    <!--  <td *ngIf="item.active==true" ><button class="btn btn-success" style="width: 45px; height: 26px;"(click)="updateStatut">Active</button></td>
      <td *ngIf="item.active==false"><button class="btn btn-danger" style="width: 52px; height: 26px;">Désactive</button></td>-->
      <td><button class="btn btn-sm btn-info"  style="margin-left: 10px; width: 35px; height: 26px;" (click) = "DetailsData(item.id)">
        <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px;"></i></button></td>
      <td><button class="btn btn-warning" style="margin-left: 16px;width: 35px; height: 26px;" (click) = "selectData(item)">
        <i class="fa fa-pencil-square-o" style="font-size: 20px;" ></i></button></td>
    <td> <button class="btn btn-danger" style="margin-left: 20px;width: 35px; height: 26px;" (click) = "removeData(item.id)">
        <i class="fa fa-trash-o" style="font-size: 20px;"></i></button></td>
   <!--    <td > <img src="assets/img/check.png" style="width:29px; height:30px;"></td>
    <td > <img src="assets/img/chek1.png" style="width:29px; height:30px;"></td>--> 
         </tr>
           </tbody>
           </table>
           </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
         </div>


</body>
