<div class="container">

  <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nv nav-pills" style="list-style: none;">
                         <!--  <li>
                                <a><i class="fa fa-user"></i>Welcome Admin, {{name}}</a>
                             </li>--> 
                            <li style="padding-left:10px;"><a ><i class="fa fa-phone"></i>+216 71 95 12 48</a></li>
                            <li style="padding-left:25px;"><a href="#"><i class="fa fa-envelope"></i>    arabsoft@arabsoft.com.tn</a></li>

                        </ul>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    

    <div class="header-middle"><!--header-middle-->
      <div class="container">
          <div class="row">

           <!--   <div class="logo pull-left">
                  <a  [routerLink]="['']"><img src="assets/img/logo.JPG" alt="" style="margin-left: 0px;" width="100px"/></a>
 </div>-->  



              <div class="col-sm-3">
                  <div class="logo pull-left">
                      <a  [routerLink]="['']"><img src="assets/img/compt.JPG" alt="" style="margin-top: 20px;"/></a>
                  </div>
              </div>
      <!---->       
     
         

      <!---->      
              <div class="col-sm-9">
                  <div class="likHref icone_headerr">
                      <a href="http://www.arabsoft.com.tn/" class=" active"><i class="fa fa-home"></i> Accueil</a>
                      <a href="http://www.arabsoft.com.tn/a-propos" class=" "><i class="fa fa-align-justify"></i> A Propos</a>
                      <a href="http://www.arabsoft.com.tn/contactez-nous1" class=" "><i class="fa fa-envelope"></i> Contactez-nous</a>
                  </div>



                  <div class="shop-menu pull-right">
                      <ul>
                      
                          <li><a [routerLink]="['/profile']"><i class="fa fa-user"></i> Account</a></li>
                        <li>
                            <a>
                              <i class="fa fa-bell" aria-hidden="true"></i>
                              <app-msgiconbtn number="5"></app-msgiconbtn>
                            </a>
                            </li> 
                            
                          <li  (click)="logout()"><a  href="javascript:void(0)"><i class="fa fa-sign-out"></i> Logout</a></li>

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header-middle-->







  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="mainmenu pull-left">
            </div>
          </div>
          <div class="col-sm-3">
             <div class="search_box pull-right" >
                 <input type="text" placeholder="Search" style="height: 50px;"/>
             </div>
         </div>
       </div>
     </div>
   </div><!--/header-bottom-->
</header>
 <!--   <app-navbar title="Dashboard"></app-navbar>-->
    <div class="row" style="margin-top: 0px">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="+5"
          headerIcon="weekend"
          category="Services"
          footContent="Obtenez plus..."
          footerIcon="warning"
          linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
          boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="5.521"
          headerIcon="equalizer"
          category="Vues"
          footContent="Google Analytics"
          footerIcon="local_offer"
          linearColor="linear-gradient(60deg, #ef5350, #e53935)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="$3,245"
          headerIcon="store"
          category="Revenu"
          footContent="Dernières 24 heures"
          footerIcon="date_range"
          linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="+245"
          headerIcon="mic"
          category="suiveurs"
          footContent="Juste mis à jour"
          footerIcon="update"
          linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
        </app-figurecard>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard
          image="../../../assets/img/compta2.jpeg"
          title="Nos missions comptables"
          desc="Votre comptabilité est l’outil indispensable afin d’asseoir l’historique de votre entreprise, répondre à vos obligations déclaratives, bien connaître la réalité de votre rentabilité et vous permettre de vous projeter vers l’avenir..."
          
          position="Atelier, FR">
        </app-imagecard>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard 
          image="../../../assets/img/compta7.jpg"
          title="Nos missions informatiques"
          desc="Notre objectif orienté vers la sécurisation de vos données financières a évolué progressivement vers un accompagnement plus large et la proposition de services étendus en lien avec les fonctions opérationnelles administratives..."
          position="Atelier, FR">
        </app-imagecard>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard
          image="../../../assets/img/ccompt.jpg"
          title="Nos aspects"
          desc="Grâce à ces solutions hébergées, vous pouvez disposer de ces outils sur tous vos supports préférés , toujours dans le souci de satisfaire nos clients. Nous nous engageons dans les meilleurs délais vos attentes..."
          position="Atelier, FR">
        </app-imagecard>
      </div>
    </div>
  
  
  </div>
<app-footer></app-footer>